@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.brand {
  font-family: 'Comfortaa', cursive;
  padding: 70px 0 70px 70px;
  font-weight: 400;
}

.price {
  width: 30%;
  margin-left: 30%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

@media screen and (max-width: 1126px) {
  .brand {
    padding: 70px 0 70px 10px;
  }

  .price {
    width: 90%;
  }
}
